# See https://www.dartlang.org/guides/libraries/private-files

# Files and directories created by pub
.dart_tool/
.packages
.pub-cache/
.pub/
build/

# General
.DS_Store
.gradle/
/build/
/bin/
/out/
/.vscode/
/.idea/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/